
.productCard{
width: 200px;
display: flex;
flex-direction: column;
text-decoration: none;
color: rgb(48, 48, 48);
margin: 2vmax;
transition: all 0.5s;
padding-bottom: 0.5vmax;
}

.productCard :hover{
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
    transform: translateY(-1px);
}

.imgStyle {
    height: 100%;
    width: 100%;
  }

.divStyle {
    height: 449px;
}

